@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {

  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:'Spoqa Han Sans Neo', sans-serif;
  font-size: 15px;
  height: 100%;
  overflow-x: hidden;
  line-height: 1.8rem;
}
