
.id_signup_section{
    display: flex;
    width: 100%;
    
    align-items: center;
    justify-content: center;
   
}

.id_signup_ic {

    flex: 1 1 0%;

  }
  
  .id_signup_bt {
    display: flex;
    height: 45px;
    padding:0px 15px;
    width: 100%;
    min-width: 400px;
  
    /* padding: 10px 35px; */
    border: 1px solid rgb(223, 223, 223);
    /* display: flex; */
    border-radius: 30px;
    margin-bottom: 5px;
    line-height: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .id_signup_text{
    text-align: center;
  
     display: block;
    /* line-height: -30px; */
    font-size: 16px;
    flex-grow: 4;
  }
  
  
.id_signup_ic> img{
    margin-left: 6px;
  }
  

  .id_signup_bt:hover{
    transition: 0.2s;
    border:1px solid gray;
  }