#loading_background{

width:100vw;
height: 100vh;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

#loading_background>img{
    width: 50px;
    background-color:#d0d0d0;
    /* filter: opacity(0.4) drop-shadow(0 0 0 gray);  */

}


#loading_background>span{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;

}