#header {
  
  position: fixed;
  text-align: right;
  height: 80px;
  max-width: 100vw;
  width: 100%;
  z-index: 30;
    display:  flex;
justify-content: center;
background-color: white;

  /* transition-duration: 0.5s; */
  /* background-color: blue; */
  color: rgb(34, 34, 34);
  /* transition: height 0.05s ease 0s; */
  border-bottom: 1px solid rgb(211, 211, 211);
}

#header > .logo {
  width:60px;
  height: 0px;

  /* display: inline-block; */
  background-color: white;
  top: 10px;
  position: absolute;
  left: 20px;
  cursor: pointer;
}
#header > .logo>img {
  cursor: pointer;
}


#header > .main_menu {
  /* margin-bottom: 50px; */

  transition-duration: 0.2s;
  max-width: 1180px;
  /* background-color:white; */
  height: 70px;
  display: flex;
  justify-content: right;
  position: absolute;
  /* align-items: center; */
  padding: 0px 20px;

  width: 100%;
}

/* inline 은 나란히 배치해준다. */
.main-menu>ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  /* background-color: white; */
  
}
.menu {
background-color: white;
  width: 90px;
align-items: center;
height:50px;
justify-content: center;
margin-left: 16px;
/* cursor: pointer; */
  /* margin: 0px 30px; */
  display: inline-flex;
  /* color:blue; */
  font-weight: 400;
}
.menu>a:hover{
  color: rgb(49, 49, 223);
  
}
.menu>img{
  cursor: pointer;
  top: 50px;
  border-radius: 50%;
}
.menu_bell{
  /* margin:0px 15px; */
  width: 100px;
  cursor: pointer;

}
.menu>div {
  display: flex;
width: 45px;
height: 40px;
justify-content: center;
font-size: 18px;

align-items: center;
/* margin-left: 12px; */


}
