  #menuBar {
    /* left: -277px; */
text-align: right;
    height: 400px;
position: absolute;
    width: 250px;
    right: 0px;
    animation: slide-in 1.5s;
    background-color: white;
margin: auto;
    z-index: 50;
  margin-right: 0;
  text-align: left;
  
  
  }
  .menuBarSection{

  }
  .menuBarSection_top{
    padding: 20px 20px;

    /* background-color: black; */
    width: 100%;
  }
  .menuBarSection_top>div{
    /* color: white; */
  }

  .menuBarSection_middle{
    padding-left: 20px;
  }
  .menuBar_line{
    
  }


@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes slide-out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
