#menuBar {
  position: fixed;
  right: 0;
  top: 0;
  min-height: 400px;
  /* bottom: 0; */

  animation: slide-in 1s;
  background-color: white;
  z-index: 50;
}

.menuBarSection {
  display: block;
  text-align: left;
  width: 250px;
  height: 100%;
  top: 0;
  right: 0;
}

.menuBar_Xbutton {
  height: auto;
  width: 100%;
  text-align: right;
  margin-right: 10px;
}
.menuBar_Xbutton > button {
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  border: none;
  background-color: white;
}
.menuBarSection_top {
  padding: 20px 24px;
  border-bottom: solid 1px #e0e0e0;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: black;
}
.menuBarSection_top > span {
  font-size: 20px;
  color: rgb(93, 93, 255);
}
.menuBarSection_middle {
  border-bottom: solid 1px #e0e0e0;
}

.menuBarSection_middle > div {
  padding: 24px;
  display: block;
}
.menuBarSection_middle > div > a {
  width: 100%;
  text-align: center;
  display: block;
  background-color: rgb(190, 127, 248);
  border-radius: 6px;
  color: white;
  font-size: 14px;
  padding: 11px 24px;
  line-height: 1.71;
}

.menuBarimg {
  width: 50px;
  height: 40px;
}

.menuBarSection_down_main {
  width: 100%;
  height: auto;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
.menuBarSection_main {
  padding: 15px;
}

.menuBarSection_down {
  margin-top: 10px;
}
.right_angle{
  top: 10;
  height: 15px;
}
.menuBarSection_main > li {
  /* display: flex; */
  height: 35px;
}
.menuBarSection_main > li > a {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.menuBarSection_main > li > div > a {
  font-size: 16px;
}
.right_angle {
  color: rgb(218, 218, 218);
}

/* menuBar2 ----로그인후  */
.menuBarSection_top2 {
  height: 140px;
  padding-top: 10px;
  padding-left: 20px;
  background-color: black;
}

.menuBarSection_top2 > div {
  color: white;
}
.menuBar2_Xbutton {
  height: auto;
  width: 220px;
  text-align: right;
  border: none;
  margin-right: 10px;
}
.menuBar2_Xbutton>button{
  cursor: pointer;
  font-size: 18px;
  width: 30px;
  border: none;
  background-color: black;
  color: white;

  

}
.menuBar2_bell{
cursor: pointer;
margin-right: 20px;
}
.menuBar2_nameSection{
  padding-top: 30px;
}


.menuBar2_bell_number{
  position:absolute;
  display: inline-block;
  border-radius: 22px;
  width: 10px;
  font-weight: bold;
  line-height: 16px;
  font-size: 8px;
  right: 55px;

  top:5px;
  text-align: center;
  
  width: 20px;
  /* max-width: 20px; */
  padding: 0 3px;

  height: 25px;


  border:  2px solid rgba(255,255,255,0.98);
  height:20px;
  background-color: red;
  border: red 1px solid;
  color:white;
  z-index: 11;
}

.menuBar2_nameSection>div{
  font-weight: 500;
}


@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes slide-out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
