/* div[contentEditable=true]{
    content: attr(placholder);
    display: block;
} */
[contentEditable=true]:empty:before{
    content: attr(placeholder);
    color:rgb(129, 129, 129);
    font-size: 21px;
  }
.selected_value{
    cursor: pointer;

    height: 30px;

    width: 400px;
    color: blue;
    font-size: 20px;

}
  
.select_box{

    position: relative;
    /* padding:5px 10px; */

    /* width: 300/px; */
    border-radius: 5px;
    height: 40px;
    /* border: 1px solid salmon; */
    /* background-color: linen; */ 
    
    
}

.selected_value_box{
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
}


.select_box > ul{
    border: 1px solid #999;

    position: absolute;
    background: #fff;
    border-top: none;
    margin: 1px 0 0 -1px;

    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y:scroll;
    width: 400px;
}


.option .selected_value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.select_box .selected_value_box .selected_value{

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option:hover {
    background: rgba(128, 128, 128,0.25)
  }

  .option_image{

    width: 35px;
    border-radius: 50%;
  }
  .option >div {

    margin-left: 15px;
  }
  .option{
      display: flex;
      justify-content: left;
      height: 60px;
      padding: 10px 0px;
      font-size: 17px;
      /* border: 1px solid black; */
      width: 95%;
      cursor: pointer;
  }

  .select_box{
      font-size: 17px;
  }