.WalletPage_center_section {
  margin-top: 40px;
  display: grid;

  height: 100%;

  /* max-width: 600px; */
  /* background-color: gray; */
  min-height: 400px;

  gap: 20px;
  grid-template-columns: repeat(5, 140px);
}

.WalletPage_center_sub_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 10px 10px; */
  background-color: gray;
  width: 100%;
  height: 100%;
  max-width: 150px;
  border-radius: 15px;
  max-height: 230px;
  cursor: pointer;
  white-space: pre-wrap;
}

.WalletPage_center_sub_box > img {
  display: block;
  margin: 10px;
  width: 60px;
}

@media (max-width: 768px) {
  .WalletPage_center_section {
    margin-top: 40px;
    display: grid;

    height: 100%;

    /* max-width: 600px; */
    /* background-color: gray; */
    min-height: 400px;

    gap: 44px 16px;
    grid-template-columns: repeat(
      3,
      minmax(calc(((100vw - 40px) - 32px) / 3), auto)
    );
  }

  .WalletPage_center_sub_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 10px 10px; */
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 150px;
    border-radius: 15px;
    max-height: 230px;

    cursor: pointer;
    white-space: pre-wrap;
  }

  .WalletPage_center_sub_box > img {
    display: block;
    margin: 10px;
    border-radius: 50%;

    width: 70px;
  }

  .WalletPage_center_sub_box_name {
    font-size: 13px;
    font-weight: 600;
  }
  .WalletPage_center_sub_box_days {
    font-size: 12px;
    line-height: 21px;

    color: rgb(155, 155, 155);
  }
  .WalletPage_center_sub_box_cost {
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;

    color: rgb(99, 99, 99);
  }
  .WalletPage_center_sub_box_date {
    line-height: 15px;
    color: rgb(101, 101, 101);
    font-size: 11px;
  }
}
