.WalletPage_Top_section_sub_title>p{
  font-size: 25px;
  font-weight: bold;
  color:blue;

}
.WalletPage_Top_section_sub_title>span{
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  color:black;

}

.WalletPage_Top_section {
  margin-top: 10px;
display: grid;
min-height: 200px;
grid-template-columns: 140px 140px ;
gap: 10px;

  /* background-color: rgb(219, 217, 217); */
  
  /* rgb(244, 244, 250); */
  /* min-height: 200px; */
}

.WalletPage_Top_section_sub {
  border-radius: 15px;
  background-color: rgb(52, 179, 241);
  text-align: center;
  /* position: relative; */

  /* width: 30px; */
}
.WalletPage_Top_imgsec{
  position: relative;
}
.WalletPage_Top_imgsec>img{


margin: auto;
  position: absolute;
  width: 30px;
  border-radius: 50%;
}
