

.WalletPage_center_section {
  margin-top: 40px;
  display: grid;
  

  height: 100%;

  /* max-width: 600px; */
  /* background-color: gray; */
  min-height: 400px;

  gap: 20px;
  grid-template-columns: repeat(5, 140px);
}

.WalletPage_center_sub_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 10px 10px; */
  background-color: gray;
  width: 100%;
  height: 100%;
  max-width: 150px;
  border-radius: 15px;
  max-height: 200px;
cursor: pointer;
  white-space: pre-wrap;
}

.WalletPage_center_sub_box > img {
  display: block;
  margin: 10px;
  width: 60px;
}
