@media (max-width: 768px) {
  .MobileMyPage_socialEdit_section {
    display: flex;

    background-color: white;
    width: 100%;

    padding: 15px 24px;
    flex-direction: column;

    margin-bottom: 30px;
  }
  /* .MobileMyPage_socialEdit_gap {
    width: 100%;
    margin: 13px 0px;
    height: 1px;
    background-color: rgb(227, 227, 227);
  } */

  .MobileMyPage_socialEdit_nick {
    margin-top: 10px;
  }
  .subsection {
    display: flex;
    align-items: center;
  }

  .MobileMyPage_userdit_nick_sub {
    margin-right: 50px;
  }
  .MobileMyPage_socialEdit_description {
    color: gray;
    min-width: 60px;
  }

  .MobileMyPage_socialEdit_contents {
    border: none;
    width: 220px;

    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 15px;

    margin-right: 24px;
  }

  .MobileMyPage_socialEdit_bt {
    cursor: pointer;

    margin-left: 10px;
    text-align: center;

    color: blue;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 90px;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(240, 240, 255);
  }
  .MobileMyPage_socialEdit_secbt {

    width: 300px;
  }
  .MobileMyPage_socialEdit_nickErr {
    color: red;
    
    font-size: 13px;
    text-align: left;
  }
}
