.ShareEditInfo_section_caution {
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 118, 118);
}

.ShareEditInfo_section_sub {
  margin: 20px 0px;
}
.ShareEditInfo_section_sub_title {
  margin-bottom: 8px;
}
.ShareEditInfo_section_sub_title > div:first-child {
  font-weight: 500;
  font-size: 18px;


}
.ShareEditInfo_section_sub_title > div:nth-child(2) {
  font-size: 12px;
  color: red;
}
.ShareEditInfo_section_mySubscribe {
  overflow-y: auto;

  width: 100%;
  height: 100%;

  max-width: 250px;
  max-height: 120px;
}

.ShareEditInfo_section_mySubscribe > div {
  margin-bottom: 5px;
  text-align: center;
  padding-top: 3px;

  min-width: 30px;
  height: 35px;
  background-color: rgb(162, 162, 255);
}

.ShareEditInfo_section_mySubscribe > div > span {
  /* color: white; */
  margin-right: 10px;
  font-size: 13px;
  white-space: normal;
}
