.container {
  display: flex;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 20px 24px 28px;
  /* margin-top: 10px; */
  flex-direction: column;

  /* margin-top: 20px; */

  text-align: left;
  max-width: 250px;
  height: 100%;
  max-height: 130px;
  align-items: left;
}
.Mypage_bar_gap {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.Mypage_bar_top_title {
  font-size: 18px;
  /* text-align: left; */
  font-weight: bold;
  width: 100%;
  /* min-width:auto; */
  /* margin-bottom: 10px; */
  border-bottom: 1px solid gray;
}

.Mypage_bar_top_section1 {
  text-align: left;

   
  padding-top:8px;
  
  /* height:20px; */
}
.Mypage_bar_top_section1 > span {
  font-size: 11px;
  padding:0px 18px;

  /* display:inline-block; */
}
.Mypage_bar_top_section1_pay{
  color:rgb(111, 111, 255)
}

.Mypage_bar_top_section1_days{
  color:gray;
}

.Mypage_bar_top_section2 { 
  margin-left: 8px;

}
.Mypage_bar_top_section2 >span{
/* display: inline-block; */
  padding:10px;
}

.Mypage_bar_top_section {
  /* width:100%; */
  max-width: auto;
 
}


.Mypage_bar_top_section2_pay{
  color:blue;
}