@media (max-width: 768px) {
  .MobileMyPageMenu {
    /* display: block; */
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    background-color: white;
  }

  .MobileMyPageMenu_section {
    padding: 24px 20px;
    text-align: center;
  }
  .MobileMyPageMenu_section_manage {
    margin-top: 20px;
  }
  .MobileMyPageMenu_section_manage > div:first-child {
    font-weight: bold;
    cursor: default;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color:black;
  }

  .MobileMyPageMenu_section_manage > a > div {
    cursor: pointer;

    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    align-items: center;
    color: rgb(102, 102, 102);
    font-weight: 700;
  }
  .MobileMyPageMenu_section_manage > a > div:hover {
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
  }

  .MobileMyPageMenu_section_manage > div{
    cursor: pointer;

    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    align-items: center;
    color: rgb(102, 102, 102);
    font-weight: 700;

  }

  .MobileMyPageMenu_menu:hover{
    background-color: rgb(232, 232, 232);
    border-radius: 10px;
  }
}


/* 
.MobileMyPageMenu{

display: none;

} */
