.div .span .a {
  white-space: pre-line;
}

#Mypage {
  white-space: pre-line;
  width: 100%;
  max-width: 100vw;
  min-height: 100%;
   padding-top: 80px;

}
.Mypage_background{  width: 100%;
  min-height: calc(100vh - 80px);
  max-width: 100vw;
  display: flex;
  background-color: rgb(244, 244, 250);
  flex-direction: column;
  align-items: center;
}
.Mypage_section {
  margin-top: 80px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;

}
.Mypage_bar_section {
  width: 100%;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */


}