#sharePage{
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: rgb(247, 249, 250);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 20px;
}