#WalletPage {
  white-space: pre-line;

  width: 100%;

  height:100%;

  padding-top: 80px;

  max-width: 100vw;

  

}
.WalletPage_background{

    width: 100%;
    
    max-width: 100vw;
    min-height: calc(100vh - 80px);


    display: flex;
    background-color: rgb(244, 244, 250);
    flex-direction: column;
    align-items: center;

}